.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 60px;
  padding: 0.2em 1em 0.2em 1em;

  a {
    text-decoration: none;
  }

  div, nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
